workshop2/hello.wsdl

<wsdl:definitions
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:tns="http://localhost:8280/services/corso-hello-proxy"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
name="HelloEndpointService"
targetNamespace="http://localhost:8280/services/corso-hello-proxy">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://localhost:8280/services/corso-hello-proxy"
    version="1.0">

  <xs:element name="SayHello" type="tns:SayHello"/>
  <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>

  <xs:complexType name="SayHello">
    <xs:sequence>
      <xs:element name="HelloRequest" type="tns:helloRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloRequest">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayHelloResponse">
    <xs:sequence>
      <xs:element name="HelloResponse" type="tns:helloResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
</wsdl:types>

  <wsdl:message name="SayHelloResponseMessage">
    <wsdl:part element="tns:SayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SayHelloMessage">
    <wsdl:part element="tns:SayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="WsHelloEndpoint">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:SayHelloMessage"/>
      <wsdl:output message="tns:SayHelloResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloSoapBinding" type="tns:WsHelloEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="helloAction" style="document"/>
      <wsdl:input>
          <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
          <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloService">
    <wsdl:port binding="tns:HelloSoapBinding" name="HelloEndpoint">
      <soap:address location="HelloEndpointService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
